.mobileNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: brown; */
    padding: 14px 12px;
}
.logo {
    align-self: start;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;
    font-size: 20px;
  }
  .logoImg {
    position: relative;
    display: flex;
    align-items: end;
  }
  .dot {
    position: absolute;
    top: 53%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 50%;
    animation: bounce 2s ease infinite;
  }
  .sparktext sup {
    font-size: 0.6rem;
    position: relative;
    top: -0.5em;
    font-weight: 400;
  }
 
    @keyframes bounce {
        0%, 100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-5px);
        }
      }
    .logo img {
        width: 32px;
        height: 38px;
        animation: bounce 2s ease infinite;
    }
    .profileImagePreview {
        border-radius: 50%;
        background: #f0f0f0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }
      .profileImage {
        width: 34px;
        height: auto;
        object-fit: contain;
       
      }

      @media screen and (min-width: 768px) {
        .mobileNavbar {
            display: none;
        }
      }