.themeButtonContainer {
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.button {
    width: 60px;
    border-radius: 6px;
    height: 20px;
}
@media screen and (max-width: 768px){
    .button {
        width: 50px;
        border-radius: 6px;
        height: 16px;
    }
    
}